<div class="container mt-4">
  <h3 class="mb-3">Change Background - {{bgType}}</h3>

  <form action="/admin/bg-change/{{bgType}}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Upload New Background</label>
      <input type="file" name="bgImage" class="form-control" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-success">Upload</button>
  </form>

 
</div>
