<h2>Forgot Password</h2>

<form action="/user/forgot-password" method="post">
  <div class="form-group">
    <label>Centre ID</label>
    <input type="text" class="form-control" name="centreId" required>
  </div>

  <button type="submit" class="btn btn-primary">
    Send OTP
  </button>

  {{#if err}}
    <p class="err">{{err}}</p>
  {{/if}}
</form>
